{% extends 'music/base.html' %}
{% block title %}Add a New Song{% endblock %}
{% block albums_active %}active{% endblock %}

{% block template_body %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Side Album Info -->
        <div class="col-sm-8 col-md-4">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'music:detail' album.id %}">
                        {% if album.album_logo %}
                        <img id="album_logo_detail" src="{{ album.album_logo.url }}" class="img-responsive">
                        {% else %}
                        <h3>Image not found</h3>
                        {% endif %}
                    </a>
                    <h1>{{ album.album_title }}</h1>
                    <h3>{{ album.genre }}</h3>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Side Song Info -->
        <div class="col-sm-8 col-md-6">

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Add New Song</h3>
                    {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="album" value="{{ album }}">
                        {% include 'music/form_template.html' %}
                        <div class="form-group" id="formGroup">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    <a href="{% url 'music:song_create' album.id %}">Add Another Song</a><br>
                    <a href="{% url 'music:detail' album.id %}">View Album Songs</a>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}