#basePage{
    background-image: url("images/background.jpg");
}

#landingPage{
    background-image: url("images/landingpage.jpg");
}

ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

#navbar-brand{ 
    display: flex;
    font-family: Princess Sofia, cursive; 
    font-size: xx-large; 
    text-shadow: 1px 1px 1px;
    color: #fff7a7;
}

#nav-link{
    color:white; 
    text-decoration: none; 
    font-size: x-large;
}

#navbarSupportedContent{
    margin-bottom: 10px;
}

#formGroup{
    padding: 4px; 
    font-size: 120%; 
    font-weight:600;
}

#caption{
    background-color: #9fe2bf;
}

#album_create{
    color:white; 
    text-decoration: none; 
    font-size: x-large;
}

#logout{
    color:white; 
    text-decoration: none; 
    font-size: x-large;
}

#sponsorships{
    color: #9fe2bf; 
    text-decoration: none; 
    font-size: 30px;
}

#album_title{
    color: black;
}

#album_artist{
    color: black;
}

#album_logo_index{
    width: 195px; 
    height: 125px;
}

#album_detail{
    color: #9fe2bf;
}

#album_logo_detail{
    width:700px; 
    height:300px;
}

#song_title{
    color: black;
}